.filament-button {
    background-color: #1D4ED8 !important; /* Cambiar el color de los botones */
    border-color: #1D4ED8 !important;
}

.filament-sidebar {
    background-color: #1D4ED8 !important; /* Cambiar el color de la barra lateral */
}

/* Añade más estilos según tus necesidades */
